.aboutMother {
  height: 100vh;
  .aboutMain {
    display: flex;
    flex-direction: row;
    height: 100%;

    .leftSect {
      height: 100%;
      width: 50%;
      background: #4698fe;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 30px;
      .headDiv {
        margin-bottom: 100px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .head {
          text-align: end;
          color: #333;
          font-size: 4rem;
        }
      }
    }

    .rightSect {
        height: 100%;
        width: 50%;
        background: #333;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
      .rightSectChild {
        height: 100%;
        background: #333;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        padding-left: 30px;

        .tldrDiv {
          display: flex;
          flex-direction: row;
          margin-bottom: 30px;
          max-width: 600px;

          .tldrHeadDiv {
            min-width: 70px;
            .tldrHead {
              color: #4698fe;
              font-size: 1.35rem;
              &:after {
                content: " :";
                color: #ffffff;
              }
            }
          }
          .tldrParaDiv {

            .tldrPara {
              font-weight: 500;
              color: #ffffff;
            }
          }
        }

        .storyDiv {
          display: flex;
          flex-direction: row;
          max-width: 650px;

          .storyHeadDiv {
            min-width: 110px;
            .storyHead {
              color: #4698fe;
              font-size: 1.35rem;
              &:after {
                content: " :";
                color: #ffffff;
              }
            }
          }
          .storyParaDiv {
            margin-left: 5px;
            .storyPara {
              font-weight: 500;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
