.aboutMother {
  height: 100%;
  .aboutMain {
    display: flex;
    flex-direction: row;
    height: 100%;

    .leftSect {
      height: 100%;
      width: calc(50% - 30px);
      background: #4698fe;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: fixed;
      padding-right: 30px;
      .headDiv {
        margin-bottom: 100px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .head {
          text-align: end;
          color: #333;
          font-size: 4rem;
        }
      }
    }

    .rightSect {
      height: 100%;
      width: 50%;
      background: #333;
      display: flex;
      justify-content: center;;
      align-items: center;
      flex-direction: column;
      position: relative;
      left: 50%;
      .rightSectChild {
        height: 100%;
        background: #333;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;

        .storyDiv {
          display: flex;
          flex-direction: column;
          max-width: 650px;

          .storyHeadDiv {
            min-width: 110px;
            max-width: 300px;
            margin-bottom: 20px;

            .storyHead {
              color: #333;
              font-size: 1.8rem;
              background: #4698fe;
              padding: 10px 15px;
              border-radius: 5px;
            }
          }
          .storyParaDiv {
            margin-left: 5px;
            .storyPara {
              font-weight: 500;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  @media (max-width: 650px) {
    height: 100%;
    .aboutMain {
      flex-direction: column;
      .leftSect {
        width: 100%;
        height: 180px;
        padding-right: 0;
        position: static;
        .headDiv {
          margin: 0;
          justify-content: center;
          align-items: flex-end;
          .head {
            margin-top: 80px;
          }
        }
      }
      .rightSect {
        width: 100%;
        left: 0;
        .rightSectChild {
          align-items: flex-start;
          justify-content: flex-start;
          .storyDiv {
            margin-top: 50px;
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    height: 100%;
    .aboutMain {
      .leftSect{
        height: 180px;
      }
      .rightSect {
        .rightSectChild {
          padding: 0 20px 0 20px;
          .storyDiv {
            margin-top: 50px;
            .storyHeadDiv {
              .storyHead {
                font-size: 1.5rem;
                padding: 5px 10px;
              }
            }
            .storyParaDiv {
              .storyPara {
                font-size: 1rem;
                white-space: pre-wrap;
              }
            }
          }
        }
      }
    }
  }
}
